<!DOCTYPE html>
<html>

  <head>
    <title>Dice Roll</title>
  </head>

  <body>
    <h1> Dice Roll!</h1>

    <%= rand(100) %>

    <h1>2 Dices</h1>
    <p><%= @consequence %></p>

  </body>

</html>
